uvicorn[standard]==0.30.5
gunicorn==22.0.0
fastapi[all]==0.112.0
loguru==0.7.2
databases[asyncpg]==0.9.0
psycopg2==2.9.9
dynaconf==3.2.6
fastapi_scheduler==0.0.15
aiosqlite==0.20.0
python-dateutil==2.9.0.post0
pyodbc==5.1.0